@import 'variables';
@import '../scss/bootstrap';

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-header {
  @include box-shadow(0px 1px 4px 0px rgba($dark, .15));

  .navbar-brand {
    img {
      max-height: 40px;
    }
  }
}

.site-main {
  img {
    max-width: 100%;
  }
}

.site-footer {
  font-size: $font-size-sm;
}
